.container {
	appearance: none;
	cursor: pointer;
	background-color: unset;
	border: unset;
	display: inline-flex;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;

	&:focus {
		outline: none;
	}
}
