@use "styles/colors" as *;
@use "styles/utils";

.container {
	&.inline {
		display: inline-block;
	}

	&.color {
		@each $name, $value in $colors {
			&--#{$name} {
				color: $value;
			}
		}
	}

	&.size {
		&--normal {
			font-size: 1em;
		}

		&--large {
			font-size: 1.15em;
		}

		&--larger {
			font-size: 1.25em;
		}

		&--small {
			font-size: 0.85em;
		}

		&--smaller {
			font-size: 0.75em;
		}
	}

	&.type {
		&--p {
			text-decoration: none;

			&:not(:first-child) {
				margin-top: 1em;
			}
		}
	}

	&.weight {
		&--normal {
			font-weight: 400;
		}

		&--medium {
			font-weight: 500;
		}

		&--semi-bold {
			font-weight: 600;
		}

		&--bold {
			font-weight: 700;
		}
	}
}
