@use "styles/utils";

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-flow: dense;

	& + & {
		margin-top: utils.gutter();
	}

	&.column-gap {
		&--none {
			column-gap: 0;
		}

		&--single {
			column-gap: utils.gutter();
		}

		&--double {
			column-gap: utils.gutter(2);
		}
	}

	&.row-gap {
		&--none {
			row-gap: 0;
		}

		&--single {
			row-gap: utils.gutter();
		}

		&--double {
			row-gap: utils.gutter(2);
		}
	}
}
