@use "styles/utils";

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-flow: dense;

	&.gap {
		&--none {
			gap: 0;
		}

		&--single {
			gap: utils.gutter();
		}

		&--double {
			gap: utils.gutter(2);
		}
	}
}
