$gutter: 18px;

$breakpoints: (
	"xs": 480px,
	"sm": 768px,
	"md": 960px,
	"lg": 1470px,
	"xl": 2400px,
);

$stacking: (
	"header-open": 30,
	"close-modal": 26,
	"modal": 25,
	"skip-link": 20,
	"cookie-consent": 15,
	"campaign": 10,
	"header": 5,
	"image-guard": 2,
);
