$gutter: 18px;

$breakpoints: (
	"xs": 480px,
	"sm": 768px,
	"md": 960px,
	"lg": 1470px,
	"xl": 2400px,
);

$stacking: (
	"skip-link": 1000,
	"cookie-consent": 999,
	"campaign": 998,
	"header": 100,
);
