@use "styles/colors";
@use "styles/functions";
@use "styles/variables";

body {
	height: 100%;

	padding: 0;
	margin: 0;
	font-family: "Nunito", "Poppins", -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	font-size: 18px;

	background: colors.get(background);

	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.skip-link {
	position: fixed;
	top: functions.gutter(-4);
	z-index: map-get(variables.$stacking, "skip-link");
	padding: functions.gutter();
	background: #fff;
}

.skip-link:focus {
	top: 0;
}
