@use "styles/functions";
@use "styles/mixins";
@use "styles/variables";

.container {
	display: grid;
	min-height: 100vh;
	grid-template-areas: "content" "footer";
	grid-template-rows: 1fr auto;
	position: relative;

	.content {
		width: 100%;
		margin: 0 auto;
		padding-top: 5rem;

		padding-inline-end: functions.gutter();
		@include mixins.keep-within-width;

		@include mixins.breakpoint(md) {
			padding-top: 6rem;
		}
	}

	&.non-conformity {
		grid-template-areas: "header" "content" "footer";
		grid-template-rows: auto 1fr auto;

		.header {
			position: sticky;
		}

		.content {
			padding-top: 1rem;
		}
	}

	.cookie-consent-observer {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
	}
}
