@use "styles/functions";
@use "styles/mixins";
@use "styles/variables";

.container {
	display: grid;
	min-height: 100vh;
	grid-template:
		"header" 6rem "content" 1fr "footer" 4rem
		/ 1fr;

	.content {
		grid-area: content;
		width: 100%;
		margin: functions.gutter(2) auto;
		padding: 0 functions.gutter(1);

		@include mixins.keep-within-width();
	}

	.footer {
		grid-area: footer;
	}

	.header {
		grid-area: header;
	}
}
