@use "styles/colors";
@use "styles/functions";
@use "styles/mixins";
@use "styles/variables";

.container {
	position: fixed;
	bottom: functions.gutter();
	left: functions.gutter();
	right: functions.gutter();
	min-height: 16rem;
	z-index: 999;
	display: flex;
	justify-content: center;

	@include mixins.breakpoint("sm") {
		justify-content: flex-end;
		left: unset;
	}

	.inner {
		display: grid;
		grid-template-rows: auto 1fr auto;

		background-color: colors.get("background");
		padding: functions.gutter();
		border-radius: functions.gutter(0.5);

		border: 4px solid colors.get("accent");

		@include mixins.breakpoint("sm") {
			max-width: map-get(variables.$breakpoints, "xs");
		}

		&.hidden {
			display: none;
		}

		.text {
			margin-top: functions.gutter();
		}

		.buttons {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: functions.gutter();
			margin-top: functions.gutter();

			.button {
				padding: functions.gutter(0.75) functions.gutter(0.5);
				display: flex;
				align-items: center;
				gap: functions.gutter(0.25);

				transition: 0.2s box-shadow;

				&.allow {
					background: colors.get("accent");
					@include mixins.text-contrast(colors.get("accent"));
				}

				@include mixins.has-general-focus {
					box-shadow: 0 0 6px 3px rgba(0 0 0 / 10%);
				}
			}
		}
	}
}
