@use "styles/functions";
@use "styles/mixins";

.artwork-display {
	.artwork {
		.image {
			background-color: white;
			border-radius: functions.gutter(0.25);
			aspect-ratio: 16 / 9;
			transition: 0.1s box-shadow;
			box-shadow: 0px 2px 4px 0px rgba(0 0 0 / 25%);
		}

		.title {
			margin: functions.gutter(0.5) 0;
		}

		&:hover {
			.image {
				box-shadow: 0px 4px 8px 0px rgba(0 0 0 / 25%);
			}

			.title {
				text-decoration: underline;
			}
		}
	}
}

.call-to-action {
	.image {
		width: 100%;
		aspect-ratio: 4 / 3;
	}

	.button {
		min-width: 4rem;
		display: inline-block;
		padding-left: functions.gutter(2);
		padding-right: functions.gutter(2);
	}
}

.showcase {
	margin: functions.gutter(2) 0;

	.swiper-container {
		margin-left: calc((100vw - 100%) / -2);
		margin-right: calc((100vw - 100%) / -2);
		padding-left: calc((100vw - 100%) / 2);
		padding-right: calc((100vw - 100%) / 2);

		overflow-x: hidden;

		.swiper {
			overflow: visible;

			.slide {
				width: 100%;

				.image {
					aspect-ratio: 16 / 9;
				}

				@include mixins.breakpoint(md) {
					width: calc(100% * (10 / 12));
				}

				@include mixins.breakpoint(lg) {
					width: calc(100% * (8 / 12));
				}
			}
		}
	}
}
