@use "styles/functions";
@use "styles/mixins";

.container {
	margin: functions.gutter(4) 0;
}

.artwork-display {
	.artwork {
		.link {
			.image-container {
				border-radius: functions.gutter(0.25);
				aspect-ratio: 16 / 9;
				transition: 0.1s box-shadow;
				box-shadow: 0px 2px 4px 0px rgba(0 0 0 / 25%);
				position: relative;
			}

			.title {
				margin: functions.gutter(0.5) 0;
			}

			@include mixins.has-general-focus {
				.image {
					box-shadow: 0px 2rem 2rem 0px rgba(0 0 0 / 25%);
				}

				.title {
					text-decoration: underline;
				}
			}
		}
	}
}

.call-to-action {
	.image {
		width: 100%;
		aspect-ratio: 4 / 3;
	}
}

.showcase {
	margin: functions.gutter(2) 0;

	.swiper-container {
		margin-left: calc((100vw - 100%) / -2);
		margin-right: calc((100vw - 100%) / -2);
		padding-left: calc((100vw - 100%) / 2);
		padding-right: calc((100vw - 100%) / 2);

		overflow-x: hidden;

		.swiper {
			overflow: visible;

			.slide {
				width: 100%;

				.image {
					aspect-ratio: 16 / 9;
				}

				@include mixins.breakpoint(md) {
					width: calc(100% * (10 / 12));
				}

				@include mixins.breakpoint(lg) {
					width: calc(100% * (8 / 12));
				}
			}
		}
	}
}
