@use "styles/colors";
@use "styles/functions";
@use "styles/mixins";

.container {
	.button,
	.value {
		width: 3rem;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.quantity {
		display: grid;
		grid-template-columns: repeat(3, 3rem);
		grid-template-rows: 3rem;

		.value {
			display: flex;
			align-items: center;
			justify-content: center;
			border-top: 2px solid colors.get("gray");
			border-bottom: 2px solid colors.get("gray");
		}

		.button {
			border: none;
			border: 2px solid colors.get("gray");
			background-color: rgb(235, 235, 235);
			color: colors.get("foreground");

			&.increase {
				border-right: none;
				border-radius: functions.gutter(0.5) 0 0 functions.gutter(0.5);
			}

			&.decrease {
				border-left: none;
				border-radius: 0 functions.gutter(0.5) functions.gutter(0.5) 0;
			}

			&:hover {
				background-color: colors.get("accent");
				@include mixins.text-contrast(colors.get("accent"));
				border-color: colors.get("accent");
			}

			&[disabled] {
				background-color: colors.get("gray");
				color: white;
				border-color: colors.get("gray");
			}
		}
	}

	.remove {
		color: colors.get("foreground");
		transition: 0.2s color;

		&:hover {
			color: colors.get("accent");
		}

		.icon {
			width: 2rem;
			height: 2rem;
		}
	}
}
