@use "styles/colors" as *;
@use "styles/utils";

.container {
	font-family: "Poppins", Arial, Helvetica, sans-serif;

	&.color {
		@each $name, $value in $colors {
			&--#{$name} {
				color: $value;
			}
		}
	}

	&.look {
		margin: 0.5em 0;
		line-height: 1.5;

		&--h1 {
			@extend .look;
			font-size: 72px;
			margin: 0.25em 0;
		}

		&--h2 {
			@extend .look;
			font-size: 48px;
			margin: 0.25em 0;
		}

		&--h3 {
			@extend .look;
			font-size: 36px;
		}

		&--h4 {
			@extend .look;
			font-size: 28px;
		}

		&--h5 {
			@extend .look;
			font-size: 24px;
		}

		&--h6 {
			@extend .look;
			font-size: 20px;
		}

		&--b {
			@extend .look;
			font-size: initial;
		}
	}
}
