@use "styles/colors" as *;
@use "styles/functions";
@use "styles/mixins";
@use "styles/utils";

.container {
	display: block;
	font-family: "Poppins", Arial, Helvetica, sans-serif;

	&:not(:first-child) {
		margin-top: functions.gutter(2);
	}

	&.color {
		@each $name, $value in $colors {
			&--#{$name} {
				color: $value;
			}
		}
	}

	&.look {
		line-height: 1.2;

		&--h1 {
			@extend .look;
			font-size: 2.5em;

			@include mixins.breakpoint(md) {
				font-size: 70px;
			}
		}

		&--h2 {
			@extend .look;
			font-size: 30px;
			line-height: 36px;

			@include mixins.breakpoint(lg) {
				font-size: 48px;
				line-height: 60px;
			}
		}

		&--h3 {
			@extend .look;
			font-size: 24px;
			line-height: 30px;

			@include mixins.breakpoint(lg) {
				font-size: 26px;
				line-height: 32px;
			}
		}

		&--h4 {
			@extend .look;
			font-size: 20px;
			line-height: 26px;

			@include mixins.breakpoint(lg) {
				font-size: 24px;
				line-height: 26px;
			}
		}

		&--h5 {
			@extend .look;

			@include mixins.breakpoint(md) {
				font-size: 22px;
			}
		}

		&--h6 {
			@extend .look;

			@include mixins.breakpoint(md) {
				font-size: 20px;
			}
		}

		&--b {
			@extend .look;
			font-size: initial;
		}
	}

	&.page-title {
		margin-top: functions.gutter();
	}
}
