@use "styles/colors" as *;
@use "styles/functions";
@use "styles/utils";

.container {
	display: block;
	font-family: "Poppins", Arial, Helvetica, sans-serif;

	&:not(:first-child) {
		margin-top: functions.gutter(2);
	}

	&.color {
		@each $name, $value in $colors {
			&--#{$name} {
				color: $value;
			}
		}
	}

	&.look {
		line-height: 1.2;

		&--h1 {
			@extend .look;
			font-size: 4.5em;
		}

		&--h2 {
			@extend .look;
			font-size: 3em;
		}

		&--h3 {
			@extend .look;
			font-size: 2.25em;
		}

		&--h4 {
			@extend .look;
			font-size: 1.75em;
		}

		&--h5 {
			@extend .look;
			font-size: 1.5em;
		}

		&--h6 {
			@extend .look;
			font-size: 1.25em;
		}

		&--b {
			@extend .look;
			font-size: initial;
		}
	}

	&.page-title {
		margin-top: functions.gutter();
	}
}
