@use "styles/colors";
@use "styles/functions";
@use "styles/variables";

.open {
	vertical-align: bottom;

	&:not([disabled]) {
		cursor: zoom-in;
	}
	&[disabled] {
		cursor: default;
	}
}

.dialog {
	position: relative;

	display: block;

	.dismiss {
		position: fixed;
		right: functions.gutter();
		top: functions.gutter();

		z-index: map-get(variables.$stacking, "close-modal");

		.icon {
			width: 2rem;
			height: 2rem;

			color: colors.get("foreground");
		}
	}

	.preview {
		width: 100%;
		height: auto;
		vertical-align: bottom;
	}
}
