@use "styles/colors";
@use "styles/functions";
@use "styles/mixins";

.container {
	width: 100%;
	background: colors.get(background);
	margin-top: functions.gutter(3);
	margin-bottom: functions.gutter(2);

	margin-inline: auto;
	padding-inline-end: functions.gutter();

	@include mixins.keep-within-width;

	.links {
		list-style-type: none;

		.link {
			color: colors.get("foreground");
		}
	}

	.sections {
		.section {
			.links {
				list-style-type: none;

				.item {
					display: block;
					margin: functions.gutter(0.5) 0;

					.link {
						display: inline-block;
						text-decoration: none;

						@include mixins.has-general-focus {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	.legal {
		@include mixins.breakpoint("md") {
			border-top: 1px solid colors.get("gray");
			padding-top: functions.gutter(2);
		}

		.links {
			display: flex;
			gap: functions.gutter() functions.gutter(1.5);
		}
	}

	.copyright {
		text-align: center;
	}
}
