@use "styles/colors";
@use "styles/functions";
@use "styles/mixins";

.container {
	@include mixins.keep-within-width;
	width: 100%;
	margin: functions.gutter() auto;
	padding: functions.gutter();
	background: colors.get(background);

	.sections {
		display: flex;
		gap: functions.gutter() functions.gutter(2);
		align-items: flex-start;
		justify-content: flex-start;

		.section {
			max-width: 12rem;
			display: inline-block;

			.links {
				list-style-type: none;

				.link {
					display: block;
					margin: functions.gutter(0.5) 0;
				}
			}
		}
	}

	.copyright {
		text-align: center;
		margin-top: functions.gutter(2);
	}
}
