@use "styles/colors";
@use "styles/functions";
@use "styles/mixins";
@use "styles/variables";

.underlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: map-get(variables.$stacking, "modal");

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: change-color(colors.get("background"), $alpha: 0.8);

	overflow-y: auto;

	@include mixins.breakpoint(sm) {
		display: unset;
	}

	.modal {
		@include mixins.keep-within-width;

		display: flex;
		align-items: center;
		justify-content: center;
		height: min-content;

		margin: 0 auto;
		padding: functions.gutter();

		@include mixins.breakpoint(sm) {
			align-items: flex-start;
			min-height: 100vh;
		}
	}
}
