@use "styles/functions";
@use "styles/mixins";

.title {
	@include mixins.breakpoint("lg", true) {
		margin-top: functions.gutter();
	}
}

.purchase-actions {
	display: grid;
	gap: functions.gutter();

	margin-top: functions.gutter();

	@include mixins.breakpoint(sm) {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}

	@include mixins.breakpoint(md) {
		grid-template-columns: unset;
		align-items: unset;
	}

	@include mixins.breakpoint(lg) {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}
}

.specifications {
	display: flex;
	flex-direction: column;

	@include mixins.breakpoint(md) {
		flex-direction: row;
		justify-content: space-evenly;
	}
}

.gallery {
	margin-top: functions.gutter();
}
