@use "styles/functions";
@use "styles/mixins";

.column {
	@include mixins.breakpoint("md") {
		position: sticky;
		top: functions.gutter(6);
	}
}

.add-to-cart {
	margin-top: 0 !important;
	width: 100%;
	padding: functions.gutter();
}

.latest-artwork {
	cursor: pointer;

	.image-container,
	.image {
		aspect-ratio: 1 / 1;
		height: auto;
		object-fit: cover;
		object-position: center;
		width: 100%;
		transition: 0.1s scale;
	}

	.image-container {
		overflow: hidden;
	}

	.pricing {
		margin-top: functions.gutter(0.25) !important;
	}

	&:hover,
	.link:focus-visible {
		.image {
			scale: 1.02;
		}

		.title {
			text-decoration: underline;
		}
	}
}
