@use "styles/colors";
@use "styles/functions";
@use "styles/mixins";

.container {
	width: 100%;
	margin: 0 auto;
	@include mixins.keep-within-width;

	.inner {
		margin-top: functions.gutter(-2);
		padding: 0 functions.gutter();
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: 100vh;

		.logo {
			width: 192px;
			height: 192px;

			@include mixins.breakpoint("sm") {
				width: 384px;
				height: 384px;
			}
		}

		.title {
			margin-top: 0;
		}

		.description {
			margin-top: functions.gutter(0.5);
		}

		.title,
		.description {
			text-align: center;
		}
	}
}
