@use "styles/colors";
@use "styles/functions";
@use "styles/mixins";
@use "styles/variables";

.container {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: map-get(variables.$stacking, "header");

	background-color: colors.get("background");

	@include mixins.breakpoint("sm") {
		background-color: change-color(colors.get("background"), $alpha: 0.8);
		backdrop-filter: saturate(180%) blur(8px);
	}

	.inner {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: auto auto;
		grid-template-areas: "home toggle" "navigation navigation";

		.home-link,
		.button {
			padding: functions.gutter();
			align-self: center;
		}

		.home-link {
			grid-area: home;
			justify-self: flex-start;
			height: functions.gutter(5);
			width: functions.gutter(5);

			.icon {
				width: 100%;
				height: auto;
			}
		}

		.button {
			grid-area: toggle;
			justify-self: flex-end;
			color: colors.get("foreground");

			.icon {
				height: 2rem;
				width: 2rem;
			}
		}

		.navigation {
			grid-area: navigation;
			display: none;

			padding: functions.gutter();
		}
	}

	&.open {
		height: 100%;
		position: fixed !important;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		overflow-y: auto;

		.inner {
			min-height: 100%;

			.navigation {
				display: grid;
			}
		}
	}

	@include mixins.breakpoint("sm") {
		.inner {
			grid-template-rows: 1fr;
			grid-template-columns: auto 1fr;
			grid-template-areas: "home navigation";

			.button {
				display: none;
			}

			.navigation {
				display: flex;
				padding: unset;
				padding-right: functions.gutter();
			}
		}
	}
}
