@use "styles/colors";
@use "styles/functions";
@use "styles/mixins";

.container {
	--height: 5rem;
	height: var(--height);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: change-color(colors.get(background), $alpha: 0.8);
	backdrop-filter: saturate(180%) blur(8px);

	.inner {
		height: 100%;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: repeat(2, 1fr);

		.home-link,
		.button {
			align-self: center;
		}

		.home-link {
			justify-self: flex-start;
			display: inline-flex;
			padding: functions.gutter();

			.icon {
				height: calc(var(--height) - 2 * #{functions.gutter()});
				width: auto;
			}
		}

		.button {
			justify-self: flex-end;
			padding: functions.gutter(1.5);

			.icon {
				height: 2rem;
				aspect-ratio: 1 / 1;
			}
		}

		@include mixins.breakpoint(sm, true) {
			.navigation {
				display: none;
			}
		}

		@include mixins.breakpoint(sm) {
			grid-template-columns: auto 1fr;
			grid-template-areas: "home-link navigation";

			.button {
				display: none;
			}
		}
	}

	@include mixins.breakpoint(sm, true) {
		&.open {
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			z-index: 100;
			background-color: colors.get(background);

			overflow-y: auto;

			.inner {
				grid-template-rows: var(--height) 1fr;
				min-height: 100%;
				grid-template-areas: "home-link button" "navigation navigation";

				.navigation {
					display: grid;
					grid-area: navigation;
					margin-top: functions.gutter(2);
					padding: 0 functions.gutter();
				}
			}
		}
	}

	@include mixins.breakpoint(md) {
		--height: 6rem;

		.navigation {
			padding-right: functions.gutter();
		}
	}
}
