@use "styles/functions";
@use "styles/mixins";
@use "styles/variables";

.row {
	width: 100%;
	height: min-content;
	display: flex;
	flex-wrap: wrap;

	& + & {
		margin-top: functions.gutter();
	}

	&.reverse {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
}

.column {
	width: 100%;
	height: min-content;
	margin-top: functions.gutter();
	padding-left: functions.gutter();

	@each $name, $size in variables.$breakpoints {
		@for $i from 1 through 12 {
			@include mixins.breakpoint($name) {
				&.size--#{$name}-#{$i} {
					width: ($i / 12) * 100%;
				}

				&.start--#{$name}-#{$i} {
					margin-inline-start: calc((100% * #{$i} / 12));
				}
			}
		}
	}

	&.align {
		&--center {
			align-self: center;
		}

		&--end {
			align-self: end;
		}

		&--start {
			align-self: start;
		}
	}

	&.justify {
		display: flex;
		flex-direction: column;

		&--center {
			@extend .justify;
			align-items: center;
		}

		&--end {
			@extend .justify;
			align-items: flex-end;
		}

		&--start {
			@extend .justify;
			align-items: flex-start;
		}
	}

	& > .row {
		width: calc(100% + #{functions.gutter()});
		margin-inline: functions.gutter(-1);
	}
}
