@use "styles/functions";
@use "styles/mixins";
@use "styles/variables";

.container {
	width: 100%;
	height: auto;
	padding-inline-start: functions.gutter();

	@each $name, $size in variables.$breakpoints {
		@for $i from 1 through 12 {
			@include mixins.breakpoint($name) {
				&.size--#{$name}-#{$i} {
					width: ($i / 12) * 100%;
				}

				&.start--#{$name}-#{$i} {
					margin-inline-start: calc(
						(100% * #{$i} / 12) + #{functions.gutter()}
					);
				}
			}
		}
	}

	&.align {
		&--center {
			align-self: center;
		}

		&--end {
			align-self: end;
		}

		&--start {
			align-self: start;
		}
	}

	&.justify {
		&--center {
			justify-self: center;
		}

		&--end {
			justify-self: flex-end;
		}

		&--start {
			justify-self: flex-start;
		}
	}
}
