@use "styles/mixins";
@use "styles/variables";

.container {
	grid-column: span 12;
	width: 100%;

	@each $name, $size in variables.$breakpoints {
		@for $i from 1 through 12 {
			@include mixins.breakpoint($name) {
				&.size--#{$name}-#{$i} {
					grid-column: span $i;

					@for $start from 1 through 12 {
						&-#{$start} {
							grid-column: ($start + 1) / span $i;
						}
					}
				}
			}
		}
	}

	&.align {
		&--center {
			align-self: center;
		}

		&--end {
			align-self: end;
		}

		&--start {
			align-self: start;
		}
	}

	&.justify {
		width: unset;

		&--center {
			@extend .justify;
			justify-self: center;
		}

		&--end {
			@extend .justify;
			justify-self: flex-end;
		}

		&--start {
			@extend .justify;
			justify-self: flex-start;
		}
	}
}
