@use "styles/mixins";

.container {
	overflow: hidden;
	vertical-align: bottom;

	@include mixins.has-general-focus {
		.image {
			transform: scale(1.02);
		}
	}

	.image {
		transition: 0.1s transform;
	}
}
