@use "styles/colors";
@use "styles/functions";
@use "styles/mixins";

.container {
	display: grid;
	grid-template-areas: "links" "socials";
	grid-template-rows: 1fr auto;

	.links,
	.socials {
		list-style-type: none;
	}

	.links {
		.item {
			display: block;

			.link {
				display: inline-block;
				padding: functions.gutter(1) 0;
				position: relative;
				color: colors.get(foreground);
				text-decoration: none;

				@include mixins.breakpoint(sm) {
					padding: functions.gutter(1);
				}

				&::after {
					position: absolute;
					height: 2px;
					border-radius: 2px;
					top: 75%;
					width: 100%;
					background-color: colors.get(accent);
					content: "";
					opacity: 0%;
					transition: opacity 0.1s;
					left: 0;

					@include mixins.breakpoint(sm) {
						width: calc(100% - #{functions.gutter(2)});
						left: functions.gutter();
					}
				}

				@include mixins.has-general-focus {
					&::after {
						opacity: 100%;
					}
				}

				&.active::after {
					opacity: 100%;
				}
			}
		}

		@include mixins.breakpoint(sm) {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}

	.socials {
		padding: functions.gutter(4) 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: functions.gutter();

		.item {
			display: inline-flex;

			.social {
				display: inline-flex;
				padding: functions.gutter();

				.icon {
					height: 2rem;
					width: 2rem;
					color: colors.get(foreground);
					transition: color 0.1s;

					@include mixins.breakpoint(sm) {
						height: 1.5rem;
						width: 1.5rem;
					}
				}

				@include mixins.has-general-focus {
					.icon {
						color: colors.get(accent);
					}
				}
			}
		}

		@include mixins.breakpoint(sm) {
			padding: 0;
			display: flex;
			gap: 0;
		}
	}

	@include mixins.breakpoint(sm) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
